---
- name: nextcloud-client role
  tags:
    - nextcloud-client
    - nextcloud-desktop
  block:

  # check vars
  - name: Check vars for nextcloud-client role
    ansible.builtin.assert:
      that:
      - nextcloud_client_user != None

  # flatpak
  - when: nextcloud_client_flatpak_state != None
    ansible.builtin.import_tasks: flatpak.yml

  # apt
  - block:

    # apt install
    - when: nextcloud_client_apt_install | length > 0
      name: Apt install {{ nextcloud_client_apt_install }}
      become: true
      ansible.builtin.apt:
        state: present
        name: "{{ nextcloud_client_apt_install }}"

    # apt remove
    - when: nextcloud_client_apt_remove | length > 0
      name: Apt remove {{ nextcloud_client_apt_remove }}
      become: true
      ansible.builtin.apt:
        state: absent
        name: "{{ nextcloud_client_apt_remove }}"

  # cp autostart desktop file
  - when: nextcloud_client_autostart == true
    name: Copy autostart file {{ nextcloud_client_autostart_dst }}
    become: true
    notify: update-desktop-database
    ansible.builtin.copy:
      src: nextcloud-client-autostart.apt.desktop
      dest: "{{ nextcloud_client_autostart_dst }}"
      owner: "{{ nextcloud_client_user }}"
      group: "{{ nextcloud_client_user }}"
      mode: u=rw,g=,o=r # world readable

  # appimage
  - when: nextcloud_client_appimage_state != None
    ansible.builtin.import_tasks: appimage.yml

  # remove .autostart
  - when: nextcloud_client_autostart == false 
    name: Remove "{{ nextcloud_client_autostart_dst }}"
    become: true
    ignore_errors: true
    failed_when: false
    ansible.builtin.file:
      path: "{{ nextcloud_client_autostart_dst }}"
      state: absent
  
  # config
  - when: nextcloud_client_config != None
    block:

    # check vars
    - name: Check vars for nextcloud-client role
      ansible.builtin.assert:
        that:
        - nextcloud_client_config_server_user != None
        - nextcloud_client_config_server_url != None
        - nextcloud_client_config_local_dir != None

    # mkdir 
    - name: Mkdir {{ nextcloud_client_config_dst | dirname }}
      become: true
      ansible.builtin.file:
        state: directory
        mode: o=rwx,g=,o=
        path: "{{ nextcloud_client_config_dst | dirname }}"
        owner: "{{ nextcloud_client_user }}"
        group: "{{ nextcloud_client_user }}"

    # cp config
    - name: Copy config {{ nextcloud_client_config }}
      become: true
      ansible.builtin.template:
        src: "{{ nextcloud_client_config }}"
        dest: "{{ nextcloud_client_config_dst }}"
        force: "{{ nextcloud_client_config_force }}"
        owner: "{{ nextcloud_client_user }}"
        group: "{{ nextcloud_client_user }}"
        mode: u=rw,g=,o=

    # mkdir local dir
    - when: nextcloud_client_config_local_dir != None
      name: Mkdir {{ nextcloud_client_config_local_dir }}
      become: true
      ansible.builtin.file:
        state: directory
        mode: o=rwx,g=,o=
        path: "{{ nextcloud_client_config_local_dir }}"
        owner: "{{ nextcloud_client_user }}"
        group: "{{ nextcloud_client_user }}"