---
- name: nextcloud-client role
  tags:
    - nextcloud-client
    - nextcloud-desktop
  block:

  # check vars
  - name: Check vars for nextcloud-client role
    ansible.builtin.assert:
      that:
      - nextcloud_client_user != None

  # apt install
  - when: nextcloud_client_apt_install | length > 0
    name: Apt install {{ nextcloud_client_apt_install }}
    become: true
    ansible.builtin.apt:
      state: present
      name: "{{ nextcloud_client_apt_install }}"

  # apt remove
  - when: nextcloud_client_apt_remove | length > 0
    name: Apt remove {{ nextcloud_client_apt_remove }}
    become: true
    ansible.builtin.apt:
      state: absent
      name: "{{ nextcloud_client_apt_remove }}"

  # cp autostart desktop file
  - when: nextcloud_client_autostart == true
    name: Copy autostart file {{ nextcloud_client_autostart_dst }}
    become: true
    notify: update-desktop-database
    ansible.builtin.file:
      src: nextcloud-client-autostart.apt.desktop
      dest: "{{ nextcloud_client_autostart_dst }}"
      owner: "{{ nextcloud_client_user }}"
      group: "{{ nextcloud_client_user }}"
      mode: u=rw,g=,o=r # world readable

  # appimage
  - when: nextcloud_client_appimage_state != None
    block:

    # appimage present
    - when: nextcloud_client_appimage_state == "present"
      block:

      # mkdir
      - name: Mkdir {{ nextcloud_client_appimage_dst | dirname }}
        become: true
        ansible.builtin.file:
          path: "{{ nextcloud_client_appimage_dst | dirname }}"
          state: directory
          mode: o=rwx,g=,o=rx

      # copy appimage
      - name: Copy appimage to {{ nextcloud_client_appimage_dst }}
        become: true
        ansible.builtin.copy:
          src: "{{ nextcloud_client_appimage_file }}"
          dest: "{{ nextcloud_client_appimage_dst }}"
          owner: root
          group: root
          mode: u=rwx,g=,o=rx

      # copy icon
      - name: Copy icon {{ nextcloud_client_appimage_icon_dst }}
        become: true
        ansible.builtin.copy:
          src: "{{ nextcloud_client_appimage_icon }}"
          dest: "{{ nextcloud_client_appimage_icon_dst }}"
          owner: root
          group: root
          mode: u=rw,g=,o=r

      # template desktop file
      - name: Template desktop file {{ nextcloud_client_desktop_dst }}
        become: true
        notify: update-desktop-database
        ansible.builtin.template:
          src: "{{ nextcloud_client_desktop }}"
          dest: "{{ nextcloud_client_desktop_dst }}"
          owner: root
          group: root
          mode: u=rw,g=,o=r # world readable

      # template autostart desktop file
      - when: nextcloud_client_autostart == true
        become: true
        name: Template autostart file {{ nextcloud_client_autostart_dst }}
        notify: update-desktop-database
        ansible.builtin.template:
          src: appimage-autostart.desktop.j2
          dest: "{{ nextcloud_client_autostart_dst }}"
          owner: "{{ nextcloud_client_user }}"
          group: "{{ nextcloud_client_user }}"
          mode: u=rw,g=,o=r # world readable

    # appimage absent
    - when: nextcloud_client_appimage_state == "absent"
      block:

      # remove app dir
      - name: Remove {{ nextcloud_client_appimage_dst | dirname }}
        become: true
        ignore_errors: true
        failed_when: false
        ansible.builtin.file:
          path: "{{ nextcloud_client_appimage_dst | dirname }}"
          state: absent

      # remove .desktop
      - name: Remove "{{ nextcloud_client_desktop_dst }}"
        become: true
        ignore_errors: true
        failed_when: false
        ansible.builtin.file:
          path: "{{ nextcloud_client_desktop_dst }}"
          state: absent

  # remove .autostart
  - when: nextcloud_client_autostart == false 
    name: Remove "{{ nextcloud_client_autostart_dst }}"
    become: true
    ignore_errors: true
    failed_when: false
    ansible.builtin.file:
      path: "{{ nextcloud_client_autostart_dst }}"
      state: absent
  
  # config
  - when: 
    - nextcloud_client_config != None
    - nextcloud_client_config_init == true
    block:

    # check vars
    - name: Check vars for nextcloud-client role
      ansible.builtin.assert:
        that:
        - nextcloud_client_config_nextcloud_user != None
        - nextcloud_client_config_nextcloud_url != None
        - nextcloud_client_config_local_dir != None

    # mkdir 
    - when: nextcloud_client_config_local_dir != None
      name: Mkdir {{ nextcloud_client_config_local_dir }}
      become: true
      ansible.builtin.file:
        state: directory
        mode: o=rwx,g=,o=
        path: "{{ nextcloud_client_config_local_dir }}"
        owner: "{{ nextcloud_client_user }}"
        group: "{{ nextcloud_client_user }}"

    # mkdir 
    - name: Mkdir {{ nextcloud_client_config_dst | dirname }}
      become: true
      ansible.builtin.file:
        state: directory
        mode: o=rwx,g=,o=
        path: "{{ nextcloud_client_config_dst | dirname }}"
        owner: "{{ nextcloud_client_user }}"
        group: "{{ nextcloud_client_user }}"

    # cp config
    - name: Copy config {{ nextcloud_client_config }}
      become: true
      ansible.builtin.template:
        src: "{{ nextcloud_client_config }}"
        dest: "{{ nextcloud_client_config_dst }}"
        owner: "{{ nextcloud_client_user }}"
        group: "{{ nextcloud_client_user }}"
        mode: u=rw,g=,o=