[Desktop Entry]
Name=Nextcloud Client (AppImage)
Comment=Nextcloud Client
Exec={{ nextcloud_client_appimage_dst }}
Icon={{ nextcloud_client_appimage_icon_dst }}
Terminal=false
Type=Application
Categories=Network