[General]
confirmExternalStorage=false
isVfsEnabled=false
launchOnSystemStartup={{ nextcloud_client_autostart }}
showMainDialogAsNormalWindow=true
newBigFolderSizeLimit=500
useNewBigFolderSizeLimit=false
optionalServerNotifications=true
showCallNotifications=true
showChatNotifications=true
promptDeleteAllFiles=true

[Nextcloud]
autoUpdateCheck=false
remotePollInterval=30000
forceSyncInterval=7200000
fullLocalDiscoveryInterval=3600000
notificationRefreshInterval=300000

[Accounts]
0\Folders\1\ignoreHiddenFiles=false
0\Folders\1\localPath={{ nextcloud_client_config_local_dir }}/
0\Folders\1\targetPath=/
0\Folders\1\version=2
0\Folders\1\virtualFilesMode=off
0\authType=webflow
0\dav_user={{ nextcloud_client_config_server_user }}
0\displayName={{ nextcloud_client_config_server_user }}
0\networkDownloadLimit=0
0\networkDownloadLimitSetting=-2
0\networkProxyHostName=
0\networkProxyNeedsAuth=false
0\networkProxyPort=0
0\networkProxySetting=0
0\networkProxyType=0
0\networkProxyUser=
0\networkUploadLimit=0
0\networkUploadLimitSetting=-2
0\serverColor=@Variant(\0\0\0\x43\x1\xff\xff\xc9\xc9\xc9\xc9\xc9\xc9\0\0)
0\serverHasValidSubscription=false
0\serverTextColor=@Variant(\0\0\0\x43\x1\xff\xff\0\0\0\0\0\0\0\0)
0\url={{ nextcloud_client_config_server_url }}
0\user=@Invalid()
0\version=13
0\webflow_user={{ nextcloud_client_config_server_user }}
version=13